<div class="mb-3" question-form>
  <form action="/answer" data-turbo="false">
    <label for="question">Ask your coach something</label>
    <input type="text" id="question" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
